doctype
html
  head
    title Esplosions Test
    link(href='//fonts.googleapis.com/css?family=Titillium+Web',type='text/css',rel='stylesheet')
    style.
      html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background: #01010f;
        font-family: Titillium Web, Verdana, Arial, sans-serif;
        text-align: center;
      }

      #esplosions-test {
        position: relative;
        z-index: 1;
        padding: 0;
        margin: 0;
      }
      #controls {
        z-index: 2;
        position: absolute;
        width: 200px;
        background: rgba(0,0,0,0.5);
        color: #ffffff;
        box-sizing: border-box;
        padding: 20px;
        top: 10px; right: 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      #controls input,
      #controls select {
        width: 100%;
      }

      .ccmm-controls h1 {
        font-weight: normal;
        font-size: 20px;
      }
      .ccmm-controls h2 {
        font-weight: normal;
        font-size: 10px;
      }

    script(src='js/easypeasy.js')
    script(src='js/esplosions.js')
    script.
      const DEFAULT_COLOR = '#01010f';

      document.addEventListener('DOMContentLoaded', function(e) {
        var tester = document.getElementById('esplosions-test');
        tester.width = document.body.clientWidth;
        tester.height = document.body.clientHeight;

        var bgColor = document.getElementById('background-color');
        bgColor.addEventListener('change', function(e) {
          var bg = bgColor.value || '#f1f1f1';
          document.body.style.backgroundColor = bg;
        });

        var sploder = new esplosions.GroundZero(tester);
        tester.addEventListener('click', function(e) {
          var reportSelector = document.getElementById('report-selector');
          var reportColor = document.getElementById('report-color');
          var options = document.querySelectorAll('#report-selector option');
          var selectedReportOption = options[reportSelector.selectedIndex];
          var selectedReport = 'Spark1';
          
          var color = reportColor.value || DEFAULT_COLOR;
          var report;
          if (selectedReportOption) {
            selectedReport = selectedReportOption.value;
          }
          switch(selectedReport) {
            case 'Spark2':
              report = new esplosions.Spark2(
                {x:e.clientX, y:e.clientY}, 
                {
                  color: color, 
                  size: Math.random()*150 + 25, 
                  rotationOffset: Math.random()*M_TAU,
                  thickness: Math.random()*2+2,
                  duration: 45
                }
              );
              break;
            case 'Spark1':
            default:
              report = new esplosions.Spark1(
                {x:e.clientX, y:e.clientY}, 
                {
                  color: color, 
                  size: Math.random()*150 + 25, 
                  rotationOffset: Math.random()*M_TAU,
                  thickness: Math.random()*2+2,
                  duration: 45
                }
              );
          }
          
          sploder.addReport(report);
        });
      });


  body
    canvas#esplosions-test(width='95%',height='95%')
    #controls.ccmm-controls
      h1 Singularity № 1
      h2 200 Billion Galaxies

      .instructions Click anywhere.
      br
      input#report-color(type='color',value='#ff6666')
      input#background-color(type='color',value='#01010f')
      br
      
      select#report-selector
        option(value='Spark1') Spark 1
        option(value='Spark2') Spark 2

